body {
    font-family: Arial;
    background: #f0f2f5;
    padding: 40px;
}

.form-box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: green;
    text-align: center;
}
